{% extends 'base.html' %}
<!--header -->

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Admin login{% endblock %}


{% block nav%}
    {{ super() }}
{% endblock %}

{% block section %}
<div class="container">
    <div class="form_data">
        <div class="form">
            <h1>ADMIN LOGIN</h1>
            <form action="/admin" method="POST">
                <label>Username</label>
                <input type="text" name = "username">
                <label>Password</label>
                <input type="password" name = "password">
                <input type="submit" value="LOGIN" >
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}