{% extends "loggedin_user.html" %}
<!--head -->
{% block head %}
    {{ super() }}
{% endblock %}
<!--title-->
{% block title %}Contact Us{% endblock %}

{% block section %}
	<div class="container">
	    <div class="every_info">
	        <img src="/static/images/doctor.jpg">
	        <div id="padding">
	        	<div class="about">
	        		<h1>Kibuku Health Center 4</h1>
	        		<p> Kibuku Health Center 4 is located in Kibuku District, Kibuku Town Council in Kabolwa Parish. </p>
	        		<h1>Contact Us Mail</h1>
	        		<P>Send us an Email through any of the following email addresses provided below and you will recieve feedback within 24 hours.</P>
	        		<ol>
	        			<li>bumbaismail@gmail.com</li>
	        			<li>kinyonyidavid@gmail.com</li>
	        			<li>nanrema@gmail.com</li>
	        		</ol>
	        		<h1>Contact Us Mobile</h1>
	        		<p>Below are the hospital lines for instant feedback on urgent issues.</p>
	        		<ol>
	        			<li><span>Director: </span> +256-779-067904</li>
	        			<li><span>Receptonist: </span>+256-787-270058</li>
	        			<li><span>Ambulance Service: </span>+256-703-128400</li>
	        		</ol>
	        		<h1>Social Media Accounts</h1>
	        		<ol>
	        			<li><span>Facebook: </span>E-MED Health Center</li>
	        			<li><span>Twitter: </span>E-MED Health Center</li>
	        		</ol>
	        	</div>
	        </div>
	    </div>
	</div>
{% endblock %}