{% extends 'loggedin_doc.html' %}

{% block adds %}
<div id="padding">
    <div class="table_area">
        <table>
            <caption>Registered System Users</caption>
            <tr>
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>PASSWORD</th>
                <th>TELEPHONE</th>
                <th>EMAIL</th>
            </tr>
            {% for id, firstname, lastname, password, telephone, email in td %}
                <tr>
                    <td>{{id}}</td>
                    <td>{{firstname.title()}}</td>
                    <td>{{lastname.title()}}</td>
                    <td>{{password}}</td>
                    <td>{{telephone}}</td>
                    <td>{{email}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
